<div class='container nav-margin'>
  <div class='col-md-6 hidden-print'>
    <div class='input-group'>
      <form novalidate class="simple-form" name='RacePlan'>
        <button ng-click="reset()">RESET</button>
        Race Name: <input type="text" class="form-control" placeholder="Race Name" ng-model="vm.race.name" /><br />
        Date: <input type="date" class="form-control" ng-model="vm.race.date" /><br />
        <select class='form-control' ng-model='vm.selectedRace' ng-options='race.name for race in vm.form.races' ng-init = 'vm.selectedRace = vm.form.races[0]' >  
        </select>
        <div ng-repeat="rows in vm.selectedRace.rows track by rows.mile">
          <input type="text" class="form-control" ng-model="rows.note" placeholder='Note for Mile {{rows.mile}}' />
        </div>
      </form>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{vm.race.name}} - {{vm.race.date | date}} ({{vm.selectedRace.name}}) </h3>
      </div>
      <div class="panel-body">
         <table class="table table-striped">
          <th>Mile</th>
          <th>Pace</th>
          <th>Notes</th>
          <tr ng-repeat="mile in vm.selectedRace.rows">
            <td>{{mile.mile}}</td>
            <td>{{vm.race.name}}</td>
            <td>{{mile.note}}</td>
          </tr> 
        </table>
      </div>
      <div class="panel-footer">Run Plan</div>
    </div>
  </div>
</div>