<div class='container nav-margin container-top container-bottom racepace'>
  <div class='col-md-6 hidden-print'>
    <div class='input-group'>
      <form novalidate class="simple-form" name='RacePace'>
        <label for='name'>Race Name</label>
        <input type="text" class="form-control" placeholder="Race Name" ng-model="vm.race.name" /><br />
        <label for='date'>Date</label>
        <input type="Date" class="form-control" ng-model="vm.race.date" /><br />
        <label for='race'>Selected Race</label>
        <select class='form-control' ng-model='vm.selectedRace' ng-options='race.name for race in vm.form.races'>  
        </select>
        </br>
        <label for='time'>Time (hh/mm/ss)</label>
        <input type='number' ng-model='vm.pace.hh' name='hours' placeholder='hour' min="0" max="100" class='pace-input'/>
        <input type='number' ng-model='vm.pace.mm' name='minutes' placeholder='minutes' min="0" max="60" class='pace-input'/>
        <input type='number' ng-model='vm.pace.ss' name='seconds' placeholder='seconds' min="0" max="60" class='pace-input'/>
        </br>
        <label for='unit'>Unit of Measure</label>
        <select  class='form-control' ng-model='vm.form.unit' ng-options='unit for unit in vm.form.units'></select>
        </br>
        <label for='notes'>Race Notes</label>
        <div ng-repeat="rows in vm.selectedRace.rows track by rows.mile">
          <input type="text" class="form-control form-spacing" ng-model="rows.note" placeholder='Note for Mile {{rows.mile}}' />
        </div>
      </form>
    </div>
  </div>
  <div class='col-md-6'>
    <div class="panel panel-primary">
      <div class="panel-heading panel-heading-height">
        <div class="btn pull-right hidden-print">
          <a href="#" onclick="window.print();return false;" class="btn btn-default btn-sm run-print"><span class="glyphicon glyphicon-print"></span> Print</a>
        </div>
        <h3 class="panel-title">
          {{vm.race.name}} 
          <span ng-show='vm.race.date > 0'>- {{vm.race.date | date}}</span>
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="alert alert-info col-md-6 col-buffer-left text-center" role="alert">
            <strong>RacePace:</strong> {{vm.pace.minPer}}
          </div>
          <div class="alert alert-info col-md-6 col-buffer-right text-center" role="alert">
            <strong>{{vm.selectedRace.name}} Goal Time:</strong> 
            <span ng-show='vm.pace.hh >= 1'>{{vm.pace.hh}}:</span><span ng-show='vm.pace.hh > 0 && vm.pace.mm < 10'>0</span>{{vm.pace.mm}}:<span ng-show='vm.pace.ss < 10'>0</span>{{vm.pace.ss}}
          </div>
        </div>
        <table class="table table-striped">
          <th>{{vm.form.unit}}</th>
          <th>Notes</th>
          <tr ng-repeat="mile in vm.selectedRace.rows">
            <td>{{mile.mile}}</td>
            <td>{{mile.note}}</td>
          </tr> 
        </table>
      </div>
      <div class="panel-footer">RacePace</div>
    </div>
  </div>
</div>